/Operadores/nbproject/private/
/Operadores/build/
/ejercicio3/nbproject/private/
/ejercicio3/build/
/ejercicio4Sentencias/nbproject/private/
/ejercicio4Sentencias/build/
/45-Clases/nbproject/private/
